{{!---------------------------------------------------------------------------
 -                                                                           -
 -                    Copyright © 2016 Alexander Nicholi.                    -
 -         Released under the MIT License;  see LICENSE for details.         -
 -                                                                           -
 ----------------------------------------------------------------------------}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {{> head }}
</head>
<body>
    <h1>{{shortdesc}}</h1>
    <p>{{longdesc}}</p>
</body>
</html>
